.header {
  background-color: gray;
  color: #eae0c8;
  text-align: center;
}

.main {
  background-color: lightgrey;
  padding: 1em;
}

body {
  background-image: url(record.png);
  background-repeat: repeat;
  margin: 0;
}
